.website__form {
  background-color: $mediumBlue;
  padding: 5rem 0.75rem;
  .form__wrapper {
    margin: 0 auto;
    max-width: 1200px;
    @media only screen and (min-width: 992px) {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }
    .form__content-text {
      color: #fff;
      margin: 0 auto;
      max-width: 435px;
      @media only screen and (min-width: 992px) {
        margin: 0 1.5rem 0 0;
      }
      & > p {
        &:nth-of-type(1) {
          color: $lightPurple;
          font-size: 6rem;
          font-weight: 700;
        }
        &:nth-of-type(2) {
          font-weight: 700;
        }
        &:nth-of-type(2),
        &:nth-of-type(3) {
          font-size: 1.25rem;
        }
      }
      .form__text-full,
      .form__text-simple {
        display: flex;
        font-size: 0.875rem;
        font-weight: 600;
        margin: 1rem 0;
        @media only screen and (min-width: 400px) {
          font-size: 1rem;
        }
        img {
          margin: 0 0.75rem 0 0;
        }
      }
    }
    .form__content-main {
      align-items: center;
      background-color: #fff;
      border-radius: 0.75rem;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      max-width: 500px;
      padding: 2.5rem 0.75rem;
      @media only screen and (min-width: 992px) {
        flex-basis: 600px;
        margin: 0;
        max-width: none;
        padding: 2.5rem 1.25rem;
      }
      & > p {
        color: $mediumBlue;
        font-size: 1.25rem;
        font-weight: 700;
        margin: 0 0 3rem 0;
        max-width: 375px;
        text-align: center;
      }
      .form__main-row {
        display: flex;
        flex-direction: column;
        width: 100%;
        @media only screen and (min-width: 1200px) {
          align-items: center;
          flex-direction: row;
        }
        input,
        select,
        textarea {
          border: 1.5px solid #cac7c7;
          margin: 0.5rem 0;
          @media only screen and (min-width: 1200px) {
            margin: 0.125rem;
            width: 100%;
          }
        }
        input,
        textarea {
          padding: 0.5em 1.25em;
        }
        select {
          padding: 0.5em 1em;
        }
        label {
          align-items: center;
          color: #817e7e;
          display: flex;
          margin: 0.5rem 0.5rem 1.5rem 0.5rem;
          input {
            margin: 0 1rem 0 0;
            width: 1rem;
          }
        }

        select,
        p {
          color: #817e7e;
        }
        .form__row-block {
          display: flex;
          input {
            width: 100%;
          }
        }
        input[type="email"] {
          @media only screen and (min-width: 1200px) {
            max-width: 275px;
          }
        }
        input[type="submit"] {
          background-color: $mediumBlue;
          color: $lightPurple;
          font-weight: 700;
          margin: 1.5rem 0 0 0;
          width: 100%;
          @media only screen and (min-width: 1200px) {
            margin: 0 0 0 auto;
            max-width: 275px;
          }
          &:hover {
            background-color: $darkBlue;
          }
        }
      }
    }
  }
}
